:root, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background: #2174b5;
    color: #fff;
}

.home {
    color: inherit;
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
}

ul[class],
ol[class],
li[class],
{
    padding: 0;
    margin: 0;
    list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.form-title {
    font-size: 2em;
    margin-bottom: 1rem;
}

.form-label {
    font-size: 0.75em;
}

.form-field {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
    max-width: 300px;
}

.form-submit {
    appearance: none;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #54c6ec;
    padding: 0.5rem 1.5rem;
}

.form-label > * {
    font-size: initial;
}

.table {
    margin: 0 auto;
    border-collapse: collapse;
}

.table-header {
    background-color: #2174b5;
    color: #eee;
}

.table-row:nth-child(odd) {
    background-color: #eee;
}

.table-row:nth-child(even) {
    background-color: #ddd;
}

.table-row:hover {
    background-color: #ccc;
}

.table-cell {
    padding: 0.5rem 1rem;
    text-align: left;
    font-weight: normal;
}

.sortable .table-header .table-cell {
    cursor: pointer;
}

.sortable .table-header .table-cell:hover {
    color: #fff;
}

.sortable .table-header .table-cell:after {
    content: '\2195';
}

